<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>F# ASP.NET MVC</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">       
            <div class="float-left">
                <p class="site-title"><a href="/">F# ASP.NET MVC</a></p>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Hello from Azure!</h1>
                </hgroup>
            </div>
        </section>
    </div>
</body>
</html>
